@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");
//   font-family: "Readex Pro", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");
//   font-family: "Nunito", sans-serif;

// navigation styling start
nav {
  border-bottom: rgba(32, 24, 35, 0.193) solid 1px;
}
.navbar-nav {
  &:nth-child(3) {
    margin-right: 0;
  }
  .nav-item {
    margin-right: 40px;
    a {
      color: #4a326f;
      font-size: 18px;
      font-family: "Readex Pro", sans-serif;
      font-weight: 400;
      line-height: 22.5px;
    }
  }
}
.nav-right {
  button {
    padding: 12px 24px;
    color: #201823;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    border: 1px solid #9747ff;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
  }
}

// including sass with bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";
