@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");
//   font-family: "Readex Pro", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Readex+Pro:wght@160..700&display=swap");
//   font-family: "Nunito", sans-serif;
@import "component/contact";
// navigation styling start

.navbar-nav {
  &:nth-child(3) {
    margin-right: 0;
  }
  .nav-item {
    margin-right: 40px;
    a {
      color: #4a326f;
      font-size: 18px;
      font-family: "Readex Pro", sans-serif;
      font-weight: 400;
      line-height: 22.5px;
    }
  }
}
.button {
  .custom-btn {
    text-decoration: none;
    padding: 12px 24px;
    color: #201823;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    border: 1px solid #9747ff;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    outline: none;
    background: none; // Add background if needed
    cursor: pointer;
  }
}

// navigation styling end
// hero section styling start
.hero-section {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
// reusable heading styling area
.heading {
  h3 {
    color: #4a326f;
    font-family: "Readex Pro", sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;
  }
}
.sub-heading {
  h4 {
    color: #4a326f;
    font-family: "Readex Pro", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 90px;
    span {
      background-image: linear-gradient(
        119.19deg,
        #926efb 1.65%,
        #465bd7 126.29%,
        #4a56ab 126.29%
      );
      color: transparent;
      background-clip: text;
    }
  }
}
.para {
  p {
    color: #6f7782;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 36px;
  }
}
.similar-heading {
  h4 {
    color: transparent;
    background-image: linear-gradient(
      119.19deg,
      #926efb 1.65%,
      #465bd7 126.29%,
      #4a56ab 126.29%
    );
    font-family: "Readex Pro", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    background-clip: text;
    letter-spacing: 5px;
  }
}
// Hero section tab area or section styling
.tab-section {
  background-image: linear-gradient(
    90deg,
    #926efb 0%,
    #465bd7 100%,
    #4a56ab 100%
  );
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
  padding: 40px 0 20px 0;
  width: 100%;
  .tab-area {
    .tab-para {
      p {
        width: 900px;
        margin: 0 auto;
        color: #fff;
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 5px;
      }
      span {
        margin: 50px 0;
        position: relative;
        color: #fff;
        font-family: "Readex Pro", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 90px;
        &::after {
          content: "Automate";
          position: absolute;
          top: -12px;
          left: 80px;
          color: #fff;
          font-family: "Readex Pro", sans-serif;
          font-size: 32px;
          font-weight: 700;
          line-height: 40px;
        }
        &::before {
          content: "Organize";
          position: absolute;
          top: -12px;
          right: 80px;
          color: #fff;
          font-family: "Readex Pro", sans-serif;
          font-size: 32px;
          font-weight: 700;
          line-height: 40px;
        }
      }
    }
  }
}
// automate section start
.automate-section {
  margin-top: 120px;
  .automate-detail {
    margin: 10px 0;
    display: flex;
    .detail-area {
      padding: 24px 32px;
      border: 2px solid;
      border-image-source: linear-gradient(
        133.89deg,
        #926efb 2.43%,
        #ffffff 51.07%
      );
      border-image-slice: 1;
      .detail-number {
        p {
          display: inline-block;
          color: #7667ed;
          font-size: 32px;
          font-family: "Readex Pro", sans-serif;
          font-weight: 600;
          line-height: 36px;
          padding: 20px;
          border: 2px solid;
          border-image-source: linear-gradient(
            133.89deg,
            #926efb 2.43%,
            #ffffff 51.07%
          );

          border-image-slice: 1;
        }
      }
      .detail-heading {
        h3 {
          color: #7667ed;
          font-size: 22px;
          font-family: "Readex Pro", sans-serif;
          font-weight: 600;
          line-height: 36px;
        }
      }
      .detail-para {
        p {
          width: 400px;
          color: #6f7782;
          font-size: 16px;
          font-family: "Nunito", sans-serif;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
  }
}
// business scaling section start

.business-scaling-section {
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
  .scaling-tab-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 22px;
    row-gap: 30px;
    .scaling-tab {
      padding: 20px 25px;
      border: 1px solid #e9e3fc80;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 2px 0px;
      .tab-heading-area {
        display: flex;
        gap: 10px;
        .heading-text {
          h3 {
            color: #333;
            font-family: "Readex Pro", sans-serif;
            font-size: 22px;
            font-weight: 600;
            line-height: 36px;
          }
        }
      }
      .tab-text-area {
        margin-top: 8px;
        p {
          text-align: left;
          color: #6f7782;
          font-size: 16px;
          font-family: "Nunito", sans-serif;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
  }
}

// including sass with bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";
