.condition-title {
  width: 100%;
  padding: 64px 0;
  background-image: linear-gradient(
    90deg,
    #926efb 0%,
    #465bd7 100%,
    #4a56ab 100%
  );
  h3 {
    text-align: center;
    color: #fff;
    font-family: "Readex Pro", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
  }
}
.condition-area {
  margin: 0 auto;
  width: 920px;
  padding: 50px 0;
  .condition-para {
    p {
      color: #6f7782;
      font-family: "Nunito", sans-serif;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
    }
  }
}
.condition-group {
  margin-top: 42px;
}
.group-title {
  h4 {
    color: #4a326f;
    font-family: "Readex Pro", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 37.5px;
    margin-bottom: 16px;
  }
}
.group-para {
  color: #6f7782;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.condition-list-group {
  .list-group {
    .list-item,
    .list-title {
      color: #6f7782;
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      span {
        font-weight: 700;
      }
    }
    .list-item {
      margin-left: 30px;
    }
  }
}
